@import url('https://fonts.googleapis.com/css2?family=Quattrocento:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181818;
  color: #fff;
  font-family: 'Quattrocento', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #181818;
  height: 90px;  
  z-index: 500;
  transition: all .2s ease-in-out;
}

header.sticky {
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-hr {
  position: relative;
  top: .62em;
  width: 95%;
  height: 1px;
  border: none;
  background-color: #fff;
}

#logo {
  width: 120px;
  position: relative;
  top: .5em;
  left: 4em;
  transition: left .3s ease-out;
}

#nav-list {
  display: flex;
  position: relative;
  right: 4.5em;
  top: .6em;
  gap: 50px;  
  list-style: none;
  transition: right .3s ease-out;
}

.nav-a {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  transition: color .2s;
}


nav h2 {
  position: relative;
  top: .4em;
  right: 3em;
}

#home {
  height: 550px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 50px;
  overflow: hidden;
}

#razor-bg {
  position: absolute;
  background-image: url('images/blade.png');
  height: 500px;
  width: 38%;
  top: 8em;
  left: 43.5em;
  rotate: 0deg;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

#landing-text {
  position: relative;
  top: 3em;
}

#lan-h1 {
  font-size: 80px;
}

#lan-h1 span {
  color: #D4AF37;
}

#short-desc {
  position: relative;
  top: -2em;
  font-size: 19px;
}

#lan-btns {
  position: relative;
  top: 1em;
  display: flex;
  gap: 0px 20px;
}

.lan-btn {
  font-size: 22px;
  height: 3em;
  width: 7em;
  border: 2px solid #D4AF37;
  transition: all .2s;
}

.prm-lan {
  background-color: #D4AF37;
  color: #181818;
}

.sec-lan {
  background-color: transparent;
  color: #D4AF37;
}



/* THREE PCS INFO */
#three-pcs-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 210px;
  width: 100%;
  position: relative;
  top: 3em;
}

.pcs-info {
  height: 80%;
  width: 15em;
  text-align: center;
}

.pcs-info:nth-child(1)::after, .pcs-info:nth-child(2)::after {
  content: '';
  width: 2px;
  height: 45px;
  background-color: #D4AF37;
  position: absolute;
}

.pcs-info:nth-child(1)::after {
  left: 33.1%;
  bottom: 4.9em;
}

.pcs-info:nth-child(2)::after {
  left: 65.9%;
  bottom: 4.9em;
}

path {
  transition: all .2s ease-out;
}

.pcs-info:hover {
  path {
    fill: #fff;
  }
}

.pcs-info hr {
  position: relative;
  top: -5px;
  width: 73%;
  background-color: #D4AF37;
  border: none;
  height: 2px;
}

.pcs-info p {
  position: relative;
  margin: 0 auto;
  width: 82%;
}


#best-sellers {
  position: relative;
  top: 5em;
  height: 550px;
  width: 88%;
  margin: 0 auto;
}

#best-sellers h1 {
  font-size: 40px;
  text-align: center;
}

#best-razors {
  position: relative;
  top: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  margin: 0 auto;
}



/* BEST RAZORS */
#zoro-div {
  background-image: url('./images/Zoro.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  transition: all .4s ease-in-out;
  position: relative;
  left: 2em;
}

#zoro-label, #ss-label {
  opacity: 0;
  visibility: hidden;
  position: relative;
  font-size: 35px;
  letter-spacing: 2px;
  color: #D4AF37;
  text-align: center;
  top: 4em;
  transition: all .3s ease-out;
  transition-delay: .2s;
}


#best-sell-h2 {
  position: relative;
  top: 2em;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
}

#right-arrow {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 53%;
  top: 13em;
  rotate: -140deg;
}

#left-arrow {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 38%;
  top: 13em;
  rotate: 140deg;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


#best-sell-h2 em {
  color: #D4AF37;
  text-decoration: underline;
}


#ss-div {
  background-image: url('./images/ss.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  top: .4em;
  position: relative;
  right: 2em;
}


/* WHY US */
#why-us-container {
  position: relative;
  top: 9.3em;
  height: 1000px;
  width: 100%;
  color: #181818;
}

#care-hero {
  position: relative;
  height: 130px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

#care-hero:after {
  content: "";
  position: absolute;
  margin: -233.5px;
  margin-top: -142px;
  width: 100px;
  height: 184px;
  transform: rotate(35deg);
  box-shadow: 0 0 0 677px #D4AF37;
}

#care-h2 {
  z-index: 55;
  position: relative;
  bottom: 10px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
}

.mustache {
  position: relative;
  left: 39.5%;
  bottom: 3.5em;
  z-index: 56;
  width: 180px;
}

#why-us {
  display: flex;
  position: relative;
  top: 7.5em;
  height: 350px;
  width: 60%;
  margin: 0 auto;
  border: 3px solid #D4AF37;
  color: #D4AF37;
}

#img-why-us {
  width: 50%;
  background-image: url('./images/men-shaving.jpg');
  background-size: 100%;
}

#txt-why-us {
  width: 50%;
  border-left: 2px solid #D4AF37;
}

#txt-why-h4 {
  position: relative;
  left: 1em;
  bottom: 5px;
}

#txt-why-h1 {
  position: relative;
  left: 2.15em;
  top: 5px;
  text-transform: uppercase;
  font-size: 34px;
}

#txt-why-h1 span {
  position: relative;
  left: 2.3em;
}

#txt-why-p {
  position: relative;
  top: 1em;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.why-btn {
  position: relative;
  left: 4em;
  top: 2em;
  font-size: 18px;
  width: 6.5em;
  height: 2.5em;
  margin-right: 15px;
  transition: all .2s ease-in-out;
}

.prm-why-btn {
  background-color: #D4AF37;
  border: 2px solid #D4AF37;
  color: #181818;
}

.sec-why-btn {
  background-color: transparent;
  border: 2px solid #D4AF37;
  color: #D4AF37;
}


/* COMPARE CONTAINER */
#compare-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2em;
  color: #fff;
  width: 73%;
  height: 350px;
  margin: 0 auto;
}

#our-razors {
  width: 50%;  
}

#our-razors::after {
  content: '';
  position: absolute;
  left: 49.9%;
  bottom: 3em;
  width: 3px;
  height: 200px;
  background-color: #D4AF37;
}

#cheap-razors {
  width: 50%;
}

.our-cheap-h2 {
  text-align: center;
  font-size: 30px;
  
  text-transform: uppercase;
  word-spacing: 7px;
}

.our-cheap-h2 em {
  color: #D4AF37;
}

.our-cheap-ul {
  position: relative;
  right: 1.5em;
  list-style: none;
  text-align: center;
}

.our-cheap-li {
  font-size: 18px;
  line-height: 43px;
  word-spacing: 5px;
}

.our-span {
  color: green;
  font-size: 30px;
  position: relative;
  top: 2px;
}

.cheap-span {
  color: red;
  font-size: 30px;
  position: relative;
  top: 5px;
}

.our-cheap-hr {
  border: none;
  height: 2.7px;
  width: 83%;
  margin: 0 auto;
  background-color: #D4AF37;
  position: relative;
  top: 20px;
}


/* HISTORY CONTAINER */
#history-container {
  position: relative;
  top: 9em;
  width: 80%;
  height: 1600px;
  margin: 0 auto;
}

#history-h1 {
  font-size: 40px;
  text-align: center;
}

#hry-chapters {
  position: relative;
  top: 2.5em;
}

#hry-chapters::after {
  content: '';
  width: 3px;
  height: 1400px;
  background-color: #D4AF37;
  position: absolute;
  top: 0em;
  left: 49.8%;
}

.each-chap {
  display: flex;
  align-items: center;
}

.hry-img {
  position: relative;
  width: 35%;
  transition: scale .2s ease-out;
}

.hry-img:hover {
  scale: 1.1;
}

.left-hry-img {
  left: 1.1em;
}

.hry-yrs {
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  background-color: #181818;
  z-index: 3;
  padding: 10px;
} 

.yrs-hr {
  position: absolute;
  height: 3px;
  width: 175px;
  background-color: #D4AF37;
  border: none;
  left: 41.7%;
}

.triangle {
  width: 0; 
  height: 0; 
  position: absolute;
  z-index: 3;
}

.tr-one {
  left: 29%;
  top: 9.93em;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 100px solid #D4AF37;
}

.tr-two {
  top: -.6em;
  border-top: 100px solid #D4AF37;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
}

.tr-three {
  left: 61.7%;
  top: 33.4em;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #D4AF37;
}

.tr-forth {
  top: 23.4em;
  left: 90.7%;
  border-top: 100px solid #D4AF37;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
}

.tr-five {
  top: 46.8em;
  border-top: 100px solid #D4AF37;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
}

.tr-six {
  left: 29%;
  top: 57.36em;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 100px solid #D4AF37;
}

.tr-seven {
  left: 61.7%;
  top: 80.85em;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #D4AF37;
}

.tr-eight {
  top: 70.85em;
  left: 90.7%;
  border-top: 100px solid #D4AF37;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
}

.chapters-txt {
  width: 35%;
  position: relative;
  text-align: justify;
}

.right-chap-txt {
  right: 1em;
}

.chapters-txt h2 {
  font-size: 28px;
  color: #D4AF37;
}

.chapters-txt p {
  font-size: 18px;
  line-height: 22px;
}


.hry-hr {
  margin: 4em;
}

.hry-hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  font-size: 35px;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: #181818;
}



.right-hry-img {
  right: 1em;
}

.left-chap-txt {
  left: 1em;
}


/* MAKE THE CHANGE */
#make-change {
  height: 600px;
  position: relative;
  top: 9.5em;
}

#make-change-hero {
  position: relative;
  height: 130px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  color: #181818;
}

#make-change-hero:after {
  content: "";
  position: absolute;
  margin: -240px;
  margin-top: -131px;
  width: 100px;
  height: 213px;
  transform: rotate(-35deg);
  box-shadow: 0 0 0 677px #D4AF37;
}

#make-change-h2 {
  z-index: 55;
  position: relative;
  bottom: 10px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
}

#youtube {
  display: block;
  position: relative;
  top: 5em;
  margin: 0 auto;
  text-align: center;
}

/* TESTIMONIALS */
#temo-container {
  height: 440px;
  width: 78%;
  margin: 0 auto;
  position: relative;
  top: 8em;
  text-align: center;
}

#temo-h3 {
  font-size: 25px;
  line-height: 5px;
}

#temo-h1 {
  font-size: 40px;
}

#temo-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 1em;
}

.temo-block {
  height: 265px;
  width: 375px;
  background-color: #D4AF37;
  padding: .6em 2.5em;
  color: #181818;
}

.temo-p {
  text-align: justify;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;
}

.temo-prof {
  display: flex;
}

.prof-name-city {
  line-height: 3px;
  position: relative;
  top: 9px;
  left: 15px;
  text-align: justify;
}

.prof-h4 {
  font-weight: 500;
}

.temo-prof-img {
  background-image: url('images/men-shaving.jpg');
  background-size: contain;
  position: relative;
  top: 5px;
  height: 72px;
  width: 72px;
  border-radius: 50%;
}

.quotes {
  width: 55px;
  position: relative;
  float: right;
  bottom: 4em;
}


/* NEWSLETTER */
#newsletter {
  position: relative;
  top: 8.7em;
  height: 300px;
  width: 100%;
  background-color: #D4AF37;
  color: #181818;
}

#news-h1 {
  position: relative;
  top: 1.2em;
  text-align: center;
  font-size: 35px;
  letter-spacing: .8px;
  text-transform: uppercase;
  line-height: 45px;
}

#sub-container {
  position: relative;
  top: 4em;
  height: 3.5em;
  text-align: center;
  display: flex;
  gap: 0px 10px;
  justify-content: center;
}

#news-inp {
  width: 22em;
  font-size: 18px;
  padding-left: .7em;
  background-color: #181818;
  border: 3px solid #181818;
  font-weight: bold;
  font-family: 'Quattrocento', sans-serif;
  color: #D4AF37;
}

input::placeholder {
  color: #D4AF37;
}

input:focus {
  outline: none;
  background-color: #D4AF37;  
}


#inp-btn {
  width: 7.5em;
  color: #181818;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Quattrocento', sans-serif; 
  border: 3px solid #181818;
  background-color: transparent;
  text-transform: uppercase;
  transition: all .2s ease-out;
}

#inp-btn:hover {
  background-color: #181818;
  color: #D4AF37;
  cursor: pointer;
}

button {
  font-family: 'Quattrocento', sans-serif;
  font-weight: bold;
}


/* FOOTER */
footer {
  height: 350px;
}


/* PRODUCTS */
#products-hero {
  position: relative;
  top: 5.3em;
  color: #fff;
}

#products-h1 {
  font-family: 'Tangerine';
  font-size: 85px;
  text-align: center;
  word-spacing: 20px;
  letter-spacing: 6px;
  font-weight: 700;
}

#products-h1 span {
  color: #D4AF37;
}

#products-sell {
  position: relative;
  top: 8em;
  display: flex;
}

#filter-btns {
  display: flex;
  justify-content: center;
  position: relative;
  top: 3.8em;
  width: 82%;
  height: 0px;  
  margin: 0 auto;
  gap: 0px 80px;
}

.dropdown {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDExIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjI2MzA2IDYuNzU4NjlMMC44MTI2NTkgMi4zMDgyN0MwLjU5ODAyIDIuMDkzNjMgMC41OTgwMiAxLjc0NTY0IDAuODEyNjU5IDEuNTMxMDNMMS4zMzE3MyAxLjAxMTk2QzEuNTQ2IDAuNzk3Njg2IDEuODkzMjcgMC43OTcyNzQgMi4xMDgwNSAxLjAxMTA0TDUuNjUxNjkgNC41MzgwOEw5LjE5NTMxIDEuMDExMDRDOS40MTAwOSAwLjc5NzI3NCA5Ljc1NzM2IDAuNzk3Njg2IDkuOTcxNjMgMS4wMTE5NkwxMC40OTA3IDEuNTMxMDNDMTAuNzA1MyAxLjc0NTY3IDEwLjcwNTMgMi4wOTM2NSAxMC40OTA3IDIuMzA4MjdMNi4wNDAzMiA2Ljc1ODY5QzUuODI1NjggNi45NzMzMSA1LjQ3NzcgNi45NzMzMSA1LjI2MzA2IDYuNzU4NjlaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 8.5em;
  padding: 0 8px;
  letter-spacing: 1px;
  font-family: 'Quattrocento', sans-serif;
  border: 3px solid #D4AF37;
  background-color: transparent;
  color: #D4AF37;
  font-weight: 700;
  font-size: 17px;
  outline: none;
  transition: border .2s ease-out;
}

.razor-card {
  height: 300px;
  width: 205px;
  border: 3px solid #D4AF37;
  margin: 0 auto;
}

.razor-img {
  width: 100%;
  height: 60%;
}

.razor-hr {
  border: none;
  height: 1px;
  width: 92%;
  background-color: #D4AF37;
}

.razor-desc {
  position: relative;
  top: -15px;
  width: 90%;
  margin: 0 auto;
}

.razor-rating {
  float: right;
  font-size: 22px;
}

.razor-label {
  font-size: 28px;
}

.razor-price {
  position: relative; 
  bottom: 5px;
  font-size: 26px; 
}

#see-all-h3 {
  position: absolute;
  left: 47.8%;
  top: 15em;
  color: #D4AF37;
}



#trust-hero {
  position: relative;
  height: 130px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  color: #181818;
}

#trust-hero:after {
  content: "";
  position: absolute;
  margin: -233.5px;
  margin-top: -142px;
  width: 100px;
  height: 184px;
  transform: rotate(35deg);
  box-shadow: 0 0 0 613px #D4AF37;
}

#trust-h2 {
  z-index: 55;
  position: relative;
  bottom: 10px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
}


#products-qa {
  position: relative;
  top: 16em;
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 11em;
}

#qa-h1 {
  text-align: center;
  font-size: 40px;
}

#qa-h3 {
  position: relative;
  bottom: 13px;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

#qa-section {
  position: relative;
  top: .7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 55%;
  gap: 10px 0px;
}

.qa-div {
  width: 100%;
  background-color: #D4AF37;
  color: #181818;
  border: 3px solid #D4AF37
}

.qa-div-h3 {
  padding-left: 15px;
  font-size: 20px;
}

.questions {
  display: flex;
  cursor: pointer;
}

.answers {
  max-height: 0em;
  overflow: hidden; 
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
  transition: all .2s ease-out;
}

.active-question {
  background-color: #181818;
  color: #D4AF37;
  transition: all .2s ease-out;
}

.active-answer {
  padding: .8em;
  max-height: 7em;
}