@import url('https://fonts.googleapis.com/css2?family=Quattrocento:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181818;
  color: #fff;
  font-family: 'Quattrocento', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #181818;
  height: 90px;  
  z-index: 500;
  transition: all .2s ease-in-out;
}

header.sticky {
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-hr {
  position: relative;
  top: .62em;
  width: 95%;
  height: 1px;
  border: none;
  background-color: #fff;
}

#logo {
  width: 120px;
  position: relative;
  top: .5em;
  left: 4em;
  transition: left .3s ease-out;
}

#nav-list {
  display: flex;
  position: relative;
  right: 4.5em;
  top: .6em;
  gap: 50px;  
  list-style: none;
  transition: right .3s ease-out;
}

.nav-a {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  transition: color .2s;
}


nav h2 {
  position: relative;
  top: .4em;
  right: 3em;
}

#home {
  height: 550px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 50px;
  overflow: hidden;
}

#razor-bg {
  position: absolute;
  background-image: url('images/blade.png');
  height: 500px;
  width: 38%;
  top: 8em;
  left: 41.5em;
  rotate: 0deg;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

#landing-text {
  position: relative;
  top: 2.5em;
}

#lan-h1 {
  font-size: 80px;
}

#lan-h1 span {
  color: #D4AF37;
}

#short-desc {
  position: relative;
  top: -2em;
  font-size: 19px;
}

#lan-btns {
  display: flex;
  gap: 0px 20px;
}

.lan-btn {
  font-size: 22px;
  height: 3em;
  width: 7em;
  border: 2px solid #D4AF37;
  transition: all .2s;
}

.prm-lan {
  background-color: #D4AF37;
  color: #181818;
}

.sec-lan {
  background-color: transparent;
  color: #D4AF37;
}



/* THREE PCS INFO */
#three-pcs-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 210px;
  width: 100%;
  position: relative;
  top: 3em;
}

.pcs-info {
  height: 80%;
  width: 15em;
  text-align: center;
}

.pcs-info:nth-child(1)::after, .pcs-info:nth-child(2)::after {
  content: '';
  width: 2px;
  height: 45px;
  background-color: #D4AF37;
  position: absolute;
}

.pcs-info:nth-child(1)::after {
  left: 33.1%;
  bottom: 4.9em;
}

.pcs-info:nth-child(2)::after {
  left: 65.9%;
  bottom: 4.9em;
}

path {
  transition: all .2s ease-out;
}

.pcs-info:hover {
  path {
    fill: #fff;
  }
}

.pcs-info hr {
  position: relative;
  top: -5px;
  width: 73%;
  background-color: #D4AF37;
  border: none;
  height: 2px;
}

.pcs-info p {
  position: relative;
  margin: 0 auto;
  width: 82%;
}


#best-sellers {
  position: relative;
  top: 5em;
  height: 550px;
  width: 88%;
  margin: 0 auto;
}

#best-sellers h1 {
  font-size: 40px;
  text-align: center;
}

#best-razors {
  position: relative;
  top: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  margin: 0 auto;
}

.razor-card {
  height: 250px;
  width: 180px;
  border: 3px solid #fff;
  margin: 0 auto;
}

.razor-img {
  width: 100%;
  height: 60%;
}

.razor-hr {
  border: none;
  height: 1px;
  width: 92%;
  background-color: #fff;
}

.razor-desc {
  position: relative;
  top: -.9em;
  width: 92%;
  margin: 0 auto;
}

.razor-rating {
  float: right;
  position: relative;
  top: -1.65em;
  font-size: 18px;
}

.razor-label {
  font-size: 25px;
}

.razor-price {
  position: relative; 
  bottom: 12px;
  font-size: 24px; 
}


/* BEST RAZORS */
#zoro-div {
  background-image: url('./images/Zoro.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  transition: all .4s ease-in-out;
  position: relative;
  left: 2em;
}

#zoro-desc {
  left: 1em;
  top: 6em;
}

#zoro-desc, #ss-desc {
  position: relative;
  font-size: 23px;
  color: #D4AF37;
  text-align: center;
  line-height: 3em;
  transition: all .4s;
}

#zoro-label {
  opacity: 0;
  visibility: hidden;
  position: relative;
  left: 2em;
  transition: all .3s ease-out;
  transition-delay: .2s;
}


#best-sell-h2 {
  position: relative;
  top: 1em;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
}

#best-sell-h2 em {
  color: #D4AF37;
  text-decoration: underline;
}


#ss-div {
  background-image: url('./images/ss.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  top: .5em;
  position: relative;
  right: 2em;
}

#ss-desc {
  right: 1em;
  top: 5.7em;
}

#ss-label {
  opacity: 0;
  visibility: hidden;
  position: relative;
  right: 2em;
  transition: all .3s ease-out;
  transition-delay: .2s;
}


/* WHY US */
#why-us-container {
  position: relative;
  top: 5em;
  height: 1000px;
  width: 100%;
  color: #181818;
}

#care-hero {
  position: relative;
  height: 130px;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

#care-hero:after {
  content: "";
  position: absolute;
  margin: -233.5px;
  margin-top: -141px;
  width: 100px;
  height: 184px;
  transform: rotate(35deg);
  box-shadow: 0 0 0 655px #D4AF37;
}

#care-h2 {
  z-index: 55;
  position: relative;
  bottom: 10px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
}

#care-mustache {
  position: relative;
  left: 39.5%;
  bottom: 3.5em;
  z-index: 56;
  width: 180px;
}

#why-us {
  display: flex;
  position: relative;
  top: 7.5em;
  height: 350px;
  width: 60%;
  margin: 0 auto;
  border: 3px solid #D4AF37;
  color: #D4AF37;
}

#img-why-us {
  width: 50%;
  background-image: url('./images/men-shaving.jpg');
  background-size: 100%;
}

#txt-why-us {
  width: 50%;
  border-left: 2px solid #D4AF37;
}

#txt-why-h4 {
  position: relative;
  left: 1em;
  bottom: 5px;
}

#txt-why-h1 {
  position: relative;
  left: 2.15em;
  top: 5px;
  text-transform: uppercase;
  font-size: 34px;
}

#txt-why-h1 span {
  position: relative;
  left: 2.3em;
}

#txt-why-p {
  position: relative;
  top: 1em;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.why-btn {
  position: relative;
  left: 3em;
  top: 2em;
  font-size: 18px;
  width: 6.5em;
  height: 2.5em;
  margin-right: 15px;
}

.prm-why-btn {
  background-color: #D4AF37;
  border: 2px solid #D4AF37;
  color: #181818;
}

.sec-why-btn {
  background-color: transparent;
  border: 2px solid #D4AF37;
  color: #D4AF37;
}


/* COMPARE CONTAINER */
#compare-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2em;
  color: #fff;
  width: 73%;
  height: 350px;
  margin: 0 auto;
}

#our-razors {
  width: 50%;  
}

#our-razors::after {
  content: '';
  position: absolute;
  left: 49.9%;
  bottom: 3em;
  width: 3px;
  height: 200px;
  background-color: #D4AF37;
}

#cheap-razors {
  width: 50%;
}

.our-cheap-h2 {
  text-align: center;
  font-size: 30px;
  
  text-transform: uppercase;
  word-spacing: 7px;
}

.our-cheap-h2 em {
  color: #D4AF37;
}

.our-cheap-ul {
  position: relative;
  right: 1.5em;
  list-style: none;
  text-align: center;
}

.our-cheap-li {
  font-size: 18px;
  line-height: 43px;
  word-spacing: 5px;
}

.our-span {
  color: green;
  font-size: 30px;
  position: relative;
  top: 2px;
}

.cheap-span {
  color: red;
  font-size: 30px;
  position: relative;
  top: 5px;
}

.our-cheap-hr {
  border: none;
  height: 2.7px;
  width: 83%;
  margin: 0 auto;
  background-color: #D4AF37;
  position: relative;
  top: 20px;
}


/* HISTORY CONTAINER */
#history-container {
  position: relative;
  top: 5em;
  width: 80%;
  height: 1600px;
  margin: 0 auto;
}

#history-h1 {
  font-size: 40px;
  text-align: center;
}

#hry-chapters {
  position: relative;
  top: 2.5em;
}

#hry-chapters::after {
  content: '';
  width: 3px;
  height: 1400px;
  background-color: #D4AF37;
  position: absolute;
  top: 0em;
  left: 49.8%;
}

.each-chap {
  display: flex;
  align-items: center;
}

.hry-img {
  position: relative;
  width: 35%;
}

.left-hry-img {
  left: 1em;
}

.hry-yrs {
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  background-color: #181818;
  z-index: 3;
  padding: 10px 0px;
} 

.chapters-txt {
  width: 35%;
  position: relative;
  text-align: justify;
}

.right-chap-txt {
  right: 1em;
}

.chapters-txt h2 {
  font-size: 28px;
  color: #D4AF37;
}

.chapters-txt p {
  font-size: 18px;
  line-height: 22px;
}


.hry-hr {
  margin: 4em;
}

.hry-hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  font-size: 35px;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: #181818;
}



.right-hry-img {
  right: 1em;
}

.left-chap-txt {
  left: 1em;
}